.app {
    min-height: 100%;
    background-color: #f3f7fa;
    padding-top: 50px;
}

.app__search__section {
    width: 780px;
    margin: 0 auto;
}

.app__search {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}