.tabs__filter {
    text-transform: uppercase;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.tab {
    color: #4A4A4A;
    background-color: #fff;
    padding: 13px;
    font-size: 12px;
    font-style: normal;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.5px;
    border: 1px solid #dfe5ec;
    cursor: pointer;
}

.tab:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

.tab:nth-child(3) {
    border-radius: 0 5px 5px 0;
}

.tab__selected {
    color: #fff;
    background-color: #2196f3;
}
